# Default .gitignore files for the papermill project <https://github.com/papermill/documentation>
# This file lists what we dont want under (git) version control.

.DS_Store

# Ignore the output folder
_output/

*.generated.*
_stash/
/node_modules/

/CODE/C0DE.md
/Verteidigung/index.html
