# PAPERMILL PROJECT CONFIGURATION
# 
# -- started on Thu Dec 20 15:33:47 CET 2012 -- 

# Should the config files be hidden (dotfiles) or not?
# (yes/no), Default: "yes"
HIDDEN_CONFIG_FILES="yes" # (not yet configurable)

# Which type of stationery to use?
# (Simple/Paper/Thesis), Default: "Paper"
STATIONERY_TYPE="Paper"

# ### GIT PROVIDER ##########################

# Use github's 'hub' tool? (not yet implemented)
# (yes/no), Default: no (unset)
#GITHUB_HUB="yes"

# Use gitlab?
# (yes/no), Default: no (unset)
#GITLAB="yes"

# The URL for your Gitlab-Installation
#GITLAB_URL="https://demo.gitlabhq.com"

# API secret token: get it from https://your.gitlab.url/profile/account
# If you don't want to save it here, leave it commented and put it in 
# `~/.papermillrc`: `_MILL_GITLAB_API_TOKEN="sUp3R1337sEkr3tz"`
#GITLAB_API_TOKEN="sUp3R1337sEkr3tz" 


# ## Ideas for local Options ##################################################

BIBLIOGRAPHY="true" # (not yet configurable)

